* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.header {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1025px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 0 0 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 219px;
}

.header__logo:hover {
  color: #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 637px;
}

.header__nav-list {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  list-style-type: none;
}

.header__nav-list:hover {
  color: #c7b299;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.logo-svg {
  fill: currentColor;
}

.shop {
  margin: 0 28px 0 63px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.shop-svg {
  fill: currentColor;
}

.shop-svg:hover {
  color: #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.search {
  height: 24px;
  width: 24px;
  outline: none;
  background-color: inherit;
  background-image: url(images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
}

.search:hover {
  cursor: pointer;
}

.search:focus {
  padding-left: 25px;
  background-color: #333;
  width: 150px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: left;
  border: 1px solid gray;
  border-radius: 5px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.slider__content {
  margin: 278px 0 0 16px;
  height: 262px;
  width: 589px;
  color: #ffffff;
  text-align: center;
}

.slider__suptitle {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 3px;
}

.slider__title {
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 0.2px;
  margin-bottom: 13px;
}

.slider__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 51px;
}

.slider__arrow-left {
  display: block;
  position: absolute;
  top: 391px;
  left: 162px;
  height: 50px;
  width: 50px;
  border: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0.7;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider__arrow-left:hover {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.slider__arrow-right {
  display: block;
  position: absolute;
  top: 391px;
  right: 145px;
  height: 50px;
  width: 50px;
  border: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0.7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__arrow-right:hover {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #998675;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  line-height: 23px;
  font-size: 14px;
  font-weight: 800;
  height: 50px;
  width: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover {
  background-color: #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.button:active {
  background-color: #998675;
}

.pogination {
  margin: 336px 0 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pogination__item {
  display: block;
  height: 7px;
  width: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #8c8d8f;
  opacity: 0.9;
  margin-right: 11px;
}

.pogination__item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.pogination__item:last-child {
  margin: 0;
}

.working__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 110px 0;
}

.working__item {
  position: relative;
  width: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #555555;
}

.working__item__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.2px;
  margin: 23px 0 12px 0;
}

.working__item__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #959595;
}

.working__item__image {
  display: inline-block;
  margin: auto;
  fill: currentColor;
}

.working__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  border-top: 3px solid #f1eee9;
  bottom: -30px;
  left: 99px;
}

.working__item:hover {
  color: #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.working__item:hover:after {
  border-color: #c7b299;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.ideas {
  background-color: #fbfaf8;
  padding-bottom: 483px;
}

.ideas__content {
  padding: 77px 0 32px 18px;
  text-align: center;
  width: 780px;
  margin: 0 auto;
}

.ideas__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.2px;
  padding-bottom: 17px;
  color: #555555;
}

.ideas__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.ideas__picture {
  position: relative;
}

.ideas__picture-left {
  position: absolute;
  top: 83px;
  left: -22px;
}

.ideas__picture-right {
  position: absolute;
  top: 83px;
  right: -38px;
}

.ideas__picture-center {
  position: absolute;
  top: 1px;
  left: 208px;
}

.purchase {
  height: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #4e3427);
}

.purchase__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 0 50px 0;
}

.purchase__title {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  margin-bottom: 2px;
}

.purchase__title-waxom {
  color: #c7b299;
}

.purchase__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5b524f;
}

.projects__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 41px;
}

.projects__filters-btn {
  color: #959595;
  margin: 0 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background-repeat: no-repeat;
  width: 118px;
  height: 30px;
}

.projects__filters-btn:first-child {
  width: 68px;
  margin: 0 5px 0 0;
}

.projects__filters-btn:last-child {
  margin: 0 0 0 5px;
  width: 133px;
}

.projects__filters-btn:hover {
  background-color: #998675;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.projects__filters-btn:active {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #998675;
          box-shadow: 0 0 0 1px #998675;
}

.projects__filters-btn:focus {
  background-color: #998675;
  color: #fff;
}

.projects__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__block-item {
  display: block;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  margin-bottom: 31px;
  position: relative;
}

.projects__block-item::after {
  content: "";
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  bottom: 100px;
  left: 19px;
}

.projects__block-item:hover::after {
  border: 15px solid transparent;
  border-bottom: 10px solid #362f2d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.projects__block-item:hover {
  background-color: #362f2d;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.projects__block-item:hover .projects__block-img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.projects__block-item:hover .projects__block-title {
  color: #fff;
}

.projects__block-item:hover .projects__block-subtitle {
  color: #c7b299;
}

.projects__block-item:hover .projects__block-hide {
  display: block;
}

.projects__block-title {
  display: block;
  color: #c7b299;
  padding: 26px 0 6px 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.projects__block-subtitle {
  display: block;
  color: #d1d1d1;
  padding: 0 0 30px 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.projects__block-hide {
  position: absolute;
  display: none;
  left: 145px;
  top: 106px;
}

.projects__block-link {
  text-decoration: none;
  fill: #fff;
  margin-right: 23px;
}

.projects__block-link:hover {
  fill: #c7b299;
}

.projects__button {
  margin: 10px auto 80px auto;
}

.video {
  height: 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 562px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.video__button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.video__button-icon {
  fill: #fff;
}

.video__button:hover {
  cursor: pointer;
}

.video__button:hover .video__button-icon {
  fill: #c7b299;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.video__button:active .video__button-icon {
  fill: #fff;
}

.video__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin: 35px 0 15px 0;
}

.video__text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #f7f8f8;
  text-align: center;
  margin-bottom: 30px;
}

.video__time {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #c7b299;
}

.mobile {
  background-image: url(images/iphone.png);
  background-repeat: no-repeat;
  background-position: left 423px bottom 0;
  height: 690px;
  background-color: #fbfaf8;
}

.mobile__block {
  width: 665px;
  height: 330px;
  padding: 184px 0 0 875px;
}

.mobile__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 26px;
}

.mobile__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #959594;
  margin-bottom: 30px;
}

.mobile__list {
  margin-left: 100px;
  list-style-type: none;
}

.mobile__list-item {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #8c8c8c;
}

.mobile__list-item::before {
  content: "";
  height: 21px;
  width: 21px;
  position: absolute;
  top: 5px;
  left: -50px;
  background-image: url(images/arrow.png);
}

.statistics {
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__block {
  width: 935px;
  margin: 69px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics__item {
  width: 140px;
  height: 172px;
  position: relative;
}

.statistics__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  border-top: 2px solid #fff;
  bottom: 1px;
  left: 55px;
}

.statistics__item-svg {
  margin-left: 48px;
  margin-bottom: 18px;
  fill: #c7b299;
}

.statistics__number {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 4px;
}

.statistics__text {
  text-align: center;
  display: block;
  color: #c7b299;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.posts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__block__item {
  width: 370px;
}

.posts__block__item:hover {
  background-color: #362f2d;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posts__block__item:hover .posts__image {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posts__block__item:hover .posts__block__item-title {
  color: #c7b299;
}

.posts__block__item:hover .posts__block__item-text {
  color: #fff;
}

.posts__block__item:hover .posts__block__item-day {
  border-radius: 3px 3px 0 0;
  background-color: #c7b299;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posts__block__item:hover .posts__block__item-month {
  border-radius: 0 0 3px 3px;
  background-color: #a48d72;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posts__block__item_content {
  padding: 25px 0 27px 29px;
  border: 1px solid #f8f8f8;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.posts__block__item-title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #555555;
  padding-bottom: 13px;
}

.posts__block__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #959595;
  padding-bottom: 20px;
}

.posts__block__item-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #dacdbe;
  position: relative;
}

.posts__block__item-link:hover {
  text-decoration: underline;
}

.posts__block__item-link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -18px;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
}

.posts__block__item__date {
  position: absolute;
  top: -201px;
  left: 19px;
  width: 50px;
  height: 60px;
}

.posts__block__item-day {
  display: block;
  padding: 3px 0;
  color: #fff;
  text-align: center;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.posts__block__item-month {
  display: block;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0;
}

.posts__slider {
  padding: 40px 0 80 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts__slider__svg {
  padding: 0 4px;
  fill: #d4d4d4;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.posts__slider__svg:hover {
  fill: #c9b49c;
  cursor: pointer;
}

.logos {
  background-image: url(images/logos_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.logos__block {
  margin: 0 auto;
  height: 490px;
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__content {
  background-color: #191919;
  height: 510px;
}

.footer__content__block {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 22px 0 22px 0;
}

.footer__content__waxom {
  width: 278px;
  height: 240px;
}

.footer__content__waxom-text {
  padding: 23px 0 21px 0;
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.footer__content__waxom-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  position: relative;
}

.footer__content__waxom-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__content__waxom-link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -18px;
  border: 4px solid transparent;
  border-left: 5px solid #d1d1d1;
}

.footer__content__posts {
  width: 278px;
}

.footer__content__posts__item {
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  padding-bottom: 33px;
}

.footer__content__posts__item:hover {
  cursor: pointer;
}

.footer__content__posts__item:hover .footer__content__posts__item-text {
  color: #bfaa93;
}

.footer__content__posts__item:hover .footer__content__posts__item-date {
  color: #ffffff;
}

.footer__content__posts__item:last-child::after {
  border: none;
}

.footer__content__posts__item::after {
  position: absolute;
  content: "";
  width: 270px;
  border: 0.5px solid #252525;
  bottom: 17px;
  left: 0;
}

.footer__content__posts__item-date {
  display: block;
  opacity: 0.9;
  padding: 5px 0;
}

.footer__content__posts__item-text {
  font-size: 14px;
  line-height: 20px;
}

.footer__content__twitter {
  width: 278px;
}

.footer__content__widget {
  width: 270px;
}

.footer__content__widget__items {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info {
  background-color: #111111;
  color: #525252;
  height: 110px;
}

.footer__info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  width: 1195px;
}

.footer__text {
  display: block;
  position: relative;
  padding-right: 25px;
}

.footer__text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 12;
  height: 13px;
  border-right: 1px solid #242424;
}

.footer__text:last-child::after {
  content: "";
  border: none;
}

.footer__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__support_item {
  display: block;
  text-decoration: none;
  padding-right: 25px;
  color: #525252;
  position: relative;
}

.footer__support_item:hover {
  color: #bfaa93;
}

.footer__support_item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 12;
  height: 13px;
  border-right: 1px solid #242424;
}

.footer__support_item:last-child::after {
  content: "";
  border: none;
}

.footer__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  text-decoration: none;
  color: #8f8f8f;
}

.footer__link:hover {
  color: #bfaa93;
}

.out__link {
  color: #06b7e9;
  text-decoration: none;
}

.out__link:hover {
  text-decoration: underline;
}

.out__link:visited {
  color: #8f8f8f;
}
/*# sourceMappingURL=style.css.map */